main {
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
}
.container {
  position: relative;
  border: 1px solid black;
  height: 800px;
  width: 800px;
  overflow: hidden;
  width: 100%; /* or any specific size */
  height: 100vh; /* or any specific size */
  display: flex;
}

.container svg {
  width: 100%;
  height: 100%;
}
