main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto 2fr 2fr; /* Increase space for windows */
  gap: 20px; /* Space between rows and columns */
  padding: 50px; /* Padding around the grid */
  box-sizing: border-box; /* Include padding in the total width and height */
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrolling in the main container */
  align-items: start; /* Align items to the start of each row */
  justify-content: center;
  margin: 0; /* Remove default margin */
  background-color:#3C3C40;
}
.switch-container {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.container:focus {
  outline: none;
}

.control-buttons {
  grid-column: 2; /* Place in the second column */
}

.container {
  position: relative;
  height: 100%; /* Take full height of the grid cell */
  border: 1px solid black;
  width: calc(100% - 10px); /* Adjust width to account for border and a bit of space */
  height: calc(80vh - 40px - 2px); /* Adjust for height, padding, gap, and border */
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #2F2D37;
  grid-template-rows: auto 1fr; /* One row for buttons, one larger row for content */  
}

.container svg {
  width: 100%;
  height: 100%;
}

.container-left{
  justify-content: flex-start; /* Aligns content to the left */
  grid-column: 1;
  grid-row: 2 / 4; /* Spanning two rows */

}

.container-right {
  justify-content: flex-end; /* Aligns content to the right */
  grid-column: 2;
  grid-row: 2 / 4; /* Spanning two rows */
}

.activeButton {
  background-color: #28C0B7 !important;
  color: white; /* Optional: change text color if needed */

  /* Optional: Style for hover state */
  &:hover {
    background-color: darken(#96AACD, 10%);
  }
}

.whiteUnderline .MuiInput-underline:before {
  border-bottom: 1px solid darkgray; /* Default underline color */
}

.whiteUnderline .MuiInput-underline:after {
  border-bottom: 2px solid darkgray; /* Underline color when focused */
}

.control-room {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center;     /* Center children vertically */
  padding: 20px;           /* Space from borders */
  width: 100%;             /* Take full width of the parent */
}
/* App.css */
.dataRoomContainer {
  height: 500px; /* Fixed height */
  width: auto;
  padding: 20px;
  margin: 10px;
  flex: none; /* Override flex-grow */
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}

.dataRoomText {
  color: #E3C46E;
}
.dataRoomTextSelected {
  color: white;
}
